In [1]:
import quandl
quandl.ApiConfig.api_key = "KxKMd8dsHx1sWnaGj6_U"
import numpy as np
import matplotlib as plt
import pandas as pd
import keras
from sklearn.preprocessing import MinMaxScaler

/usr/bin/anaconda/envs/py35/lib/python3.5/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
def get_monthly_close_prices(start_date,end_date):
    
    df = quandl.get_table('SHARADAR/SEP',date={'gte':start_date,'lte':end_date}, qopts={'columns':['ticker','date','close']},paginate=True).fillna(value=0)
    close = df.pivot(index='date', columns='ticker', values='close')
    monthly = close.resample('BM', how=lambda x: x[-1])
    #.agg(lambda x: x[-1])
    return monthly

In [34]:
quandl.get_table('SHARADAR/SEP',date={'gte':'2018-12-25','lte':'2019-01-01'}, qopts={'columns':['ticker','date','close']},paginate=True).fillna(value=0).head()

     ticker       date  close
None
0      ZYXI 2018-12-31   2.94
1      ZYXI 2018-12-28   2.65
2      ZYXI 2018-12-27   2.63
3      ZYXI 2018-12-26   2.63
4      ZYNE 2018-12-31   2.97

In [3]:
monthly_prices = get_monthly_close_prices('2018-06-01','2019-01-01')

/usr/bin/anaconda/envs/py35/lib/python3.5/site-packages/ipykernel_launcher.py:5: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...)..apply(<func>)
  """

In [4]:
def get_monthly_returns(monthly_prices):
    """
    Compute returns for each ticker and date in close.
    
    Parameters
    ----------
    close : DataFrame
        Close prices for each ticker and date
    
    Returns
    -------
    returns : DataFrame
        Returns for each ticker and date
    """
        

    #.agg(lambda x: x[-1])
    monthly_returns = (monthly_prices - monthly_prices.shift(1))/monthly_prices.shift(1).fillna(value=0)
    
    
    return monthly_returns

In [5]:
monthly_retuns_june_dec_18 = get_monthly_returns(monthly_prices)

In [6]:
monthly_retuns_june_dec_18.head()

ticker,A,AA,AAC,AAGIY,AAL,AALBF,AAMC,AAME,AAN,AAOI,...,ZSAN,ZTO,ZTS,ZUMZ,ZUO,ZURVY,ZX,ZYME,ZYNE,ZYXI
date,,,,,,,,,,,,,,,,,,,,,
2018-06-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-07-31,0.067917,-0.077005,0.108858,0.003711,0.041623,NaN,-0.060215,-0.037037,-0.003222,-0.144098,...,0.024510,-0.008500,0.015143,-0.095808,-0.098162,0.039634,NaN,-0.161705,-0.317248,-0.035484
2018-08-31,0.022714,0.032355,-0.147257,-0.019909,0.023773,NaN,-0.053394,0.057692,0.148003,0.076243,...,-0.002392,-0.069087,0.047641,0.375276,0.124338,-0.008472,NaN,0.133979,0.207519,0.030100
2018-09-28,0.044418,-0.095590,-0.138826,0.033082,0.020998,-0.055386,-0.035455,-0.090909,0.095334,-0.403772,...,-0.019185,-0.102384,0.010596,-0.154093,-0.162074,0.034834,NaN,0.117438,0.016189,-0.032468
2018-10-31,-0.081514,-0.133911,-0.277851,-0.152528,-0.151222,0.000000,-0.181287,0.120000,-0.134594,-0.203974,...,-0.171149,-0.021123,-0.015400,-0.117268,-0.116400,-0.016196,NaN,-0.186624,-0.355392,0.030201

In [7]:
monthly_retuns_june_dec_18 = monthly_retuns_june_dec_18.iloc[ 1: , : ]

In [8]:
monthly_retuns_june_dec_18 = monthly_retuns_june_dec_18.fillna(0)

In [9]:
#training_returns = monthly_retuns_june_dec_18.iloc[ :5 , : ]

In [10]:
#target_returns = monthly_retuns_june_dec_18.iloc[ 5:6 , : ]

In [11]:
def get_factor_data(start_date,end_date):
    
    df = quandl.get_table('SHARADAR/SF1',dimension='ARQ',calendardate={'gte':start_date, 'lte':end_date}, paginate=True).fillna(value=0)

    
    return df

In [62]:
#quandl.get_table('SHARADAR/SF1',dimension='ARY',calendardate={'gte':'2018-06-01', 'lte':'2019-01-01'}, paginate=True)

In [12]:
factors_june_dec_18 = get_factor_data('2018-06-01','2019-01-01')

In [13]:
factors_june_dec_18.head

<bound method NDFrame.head of       ticker dimension calendardate    datekey reportperiod lastupdated  \
None
0       ZYXI       ARQ   2018-12-31 2019-02-26   2018-12-31  2019-02-26
1       ZYXI       ARQ   2018-09-30 2018-11-06   2018-09-30  2019-02-26
2       ZYXI       ARQ   2018-06-30 2018-08-02   2018-06-30  2019-02-26
3       ZYNE       ARQ   2018-12-31 2019-03-11   2018-12-31  2019-03-11
4       ZYNE       ARQ   2018-09-30 2018-11-08   2018-09-30  2019-03-11
5       ZYNE       ARQ   2018-06-30 2018-08-02   2018-06-30  2019-03-11
6       ZYME       ARQ   2018-12-31 2019-03-06   2018-12-31  2019-03-06
7       ZYME       ARQ   2018-09-30 2018-11-06   2018-09-30  2019-03-06
8       ZYME       ARQ   2018-06-30 2018-08-01   2018-06-30  2019-03-06
9        ZUO       ARQ   2018-09-30 2018-12-13   2018-10-31  2018-12-13
10       ZUO       ARQ   2018-06-30 2018-09-12   2018-07-31  2018-12-13
11      ZUMZ       ARQ   2018-09-30 2018-12-10   2018-11-03  2018-12-10
12      ZUMZ       ARQ   2018-06-30 2018-09-10   2018-08-04  2018-12-10
13       ZTS       ARQ   2018-12-31 2019-02-14   2018-12-31  2019-02-14
14       ZTS       ARQ   2018-09-30 2018-11-01   2018-09-30  2019-02-14
15       ZTS       ARQ   2018-06-30 2018-08-02   2018-06-30  2019-02-14
16      ZSAN       ARQ   2018-09-30 2018-11-15   2018-09-30  2018-11-15
17      ZSAN       ARQ   2018-06-30 2018-08-09   2018-06-30  2018-11-15
18        ZS       ARQ   2018-12-31 2019-03-06   2019-01-31  2019-03-06
19        ZS       ARQ   2018-09-30 2018-12-06   2018-10-31  2019-03-06
20        ZS       ARQ   2018-06-30 2018-09-13   2018-07-31  2019-03-06
21       ZOM       ARQ   2018-12-31 2019-03-14   2018-12-31  2019-03-14
22       ZOM       ARQ   2018-12-31 2019-02-26   2018-12-31  2019-03-14
23       ZOM       ARQ   2018-09-30 2018-11-13   2018-09-30  2019-03-14
24       ZOM       ARQ   2018-06-30 2018-08-09   2018-06-30  2019-03-14
25      ZOES       ARQ   2018-09-30 2018-11-13   2018-10-01  2018-11-13
26      ZOES       ARQ   2018-06-30 2018-08-17   2018-07-09  2018-11-13
27      ZNGA       ARQ   2018-12-31 2019-02-28   2018-12-31  2019-02-28
28      ZNGA       ARQ   2018-09-30 2018-11-02   2018-09-30  2019-02-28
29      ZNGA       ARQ   2018-06-30 2018-08-03   2018-06-30  2019-02-28
...      ...       ...          ...        ...          ...         ...
12628   AAPC       ARQ   2018-09-30 2018-11-15   2018-09-30  2018-11-15
12629   AAPC       ARQ   2018-06-30 2018-08-08   2018-06-28  2018-11-15
12630    AAP       ARQ   2018-12-31 2019-02-19   2018-12-29  2019-02-19
12631    AAP       ARQ   2018-09-30 2018-11-13   2018-10-06  2019-02-19
12632    AAP       ARQ   2018-06-30 2018-08-14   2018-07-14  2019-02-19
12633   AAON       ARQ   2018-12-31 2019-02-28   2018-12-31  2019-02-28
12634   AAON       ARQ   2018-09-30 2018-11-01   2018-09-30  2019-02-28
12635   AAON       ARQ   2018-06-30 2018-08-02   2018-06-30  2019-02-28
12636   AAOI       ARQ   2018-12-31 2019-02-26   2018-12-31  2019-02-26
12637   AAOI       ARQ   2018-09-30 2018-11-08   2018-09-30  2019-02-26
12638   AAOI       ARQ   2018-06-30 2018-08-08   2018-06-30  2019-02-26
12639    AAN       ARQ   2018-12-31 2019-02-14   2018-12-31  2019-02-14
12640    AAN       ARQ   2018-09-30 2018-10-25   2018-09-30  2019-02-14
12641    AAN       ARQ   2018-06-30 2018-07-26   2018-06-30  2019-02-14
12642   AAME       ARQ   2018-09-30 2018-11-13   2018-09-30  2018-11-13
12643   AAME       ARQ   2018-06-30 2018-08-14   2018-06-30  2018-11-13
12644   AAMC       ARQ   2018-12-31 2019-02-27   2018-12-31  2019-02-27
12645   AAMC       ARQ   2018-09-30 2018-11-07   2018-09-30  2019-02-27
12646   AAMC       ARQ   2018-06-30 2018-08-09   2018-06-30  2019-02-27
12647    AAL       ARQ   2018-12-31 2019-02-25   2018-12-31  2019-02-25
12648    AAL       ARQ   2018-09-30 2018-10-25   2018-09-30  2019-02-25
12649    AAL       ARQ   2018-06-30 2018-07-26   2018-06-30  2019-02-25
12650    AAC       ARQ   2018-09-30 2018-11-06   2018-09-30  2018-11-07
12651    AAC       ARQ   2018-06-30 2018-08-03   2018-06-30  2018-11-07
12652     AA       ARQ   2018-12-31 2019-02-26   2018-12-31  2019-02-26
12653     AA       ARQ   2018-09-30 2018-11-02   2018-09-30  2019-02-26
12654     AA       ARQ   2018-06-30 2018-08-02   2018-06-30  2019-02-26
12655      A       ARQ   2018-12-31 2019-03-05   2019-01-31  2019-03-05
12656      A       ARQ   2018-09-30 2018-12-20   2018-10-31  2019-03-05
12657      A       ARQ   2018-06-30 2018-08-30   2018-07-31  2019-03-05

           accoci        assets  assetsavg       assetsc       ...        \
None                                                           ...
0               0  1.618400e+07          0  1.432600e+07       ...
1               0  1.329700e+07          0  1.215400e+07       ...
2               0  1.139300e+07          0  1.024500e+07       ...
3               0  6.732744e+07          0  6.695548e+07       ...
4               0  7.293434e+07          0  7.268560e+07       ...
5               0  5.220355e+07          0  4.903909e+07       ...
6        -6659000  2.443630e+08          0  2.043690e+08       ...
7        -6659000  1.944400e+08          0  1.537990e+08       ...
8        -6659000  2.109950e+08          0  1.722630e+08       ...
9           98000  2.932430e+08          0  2.398410e+08       ...
10         809000  2.872370e+08          0  2.318120e+08       ...
11       -9888000  5.567190e+08          0  3.481880e+08       ...
12       -8101000  5.304670e+08          0  3.192880e+08       ...
13     -629000000  1.077700e+10          0  4.399000e+09       ...
14     -619000000  1.045900e+10          0  4.076000e+09       ...
15     -543000000  8.603000e+09          0  4.239000e+09       ...
16              0  3.885500e+07          0  3.054500e+07       ...
17              0  4.522600e+07          0  3.850700e+07       ...
18         -59000  5.181130e+08          0  4.460110e+08       ...
19        -317000  4.580940e+08          0  3.916040e+08       ...
20        -124000  4.477810e+08          0  3.871640e+08       ...
21              0  6.033519e+06          0  3.860958e+06       ...
22              0  6.033519e+06          0  3.860958e+06       ...
23              0  4.190646e+06          0  2.046232e+06       ...
24              0  6.417959e+06          0  5.464024e+06       ...
25              0  2.234420e+08          0  1.608400e+07       ...
26              0  2.239850e+08          0  1.348200e+07       ...
27     -118439000  2.146703e+09          0  7.472770e+08       ...
28     -103210000  2.019427e+09          0  5.706530e+08       ...
29     -100111000  1.985873e+09          0  5.411300e+08       ...
...           ...           ...        ...           ...       ...
12628           0  9.340000e+02          0  9.340000e+02       ...
12629           0  2.094400e+04          0  2.094400e+04       ...
12630   -44193000  9.040648e+09          0  6.082454e+09       ...
12631   -32083000  8.972353e+09          0  6.024283e+09       ...
12632   -35914000  8.835556e+09          0  5.877816e+09       ...
12633           0  3.081970e+08          0  1.408610e+08       ...
12634           0  3.140240e+08          0  1.446960e+08       ...
12635           0  3.202710e+08          0  1.546650e+08       ...
12636      602000  4.668400e+08          0  1.942750e+08       ...
12637      835000  4.810850e+08          0  2.151700e+08       ...
12638     5633000  4.722040e+08          0  2.305880e+08       ...
12639    -1087000  2.826692e+09          0  0.000000e+00       ...
12640       59000  2.698898e+09          0  0.000000e+00       ...
12641     -238000  2.618950e+09          0  0.000000e+00       ...
12642    -6762000  3.395490e+08          0  0.000000e+00       ...
12643    -6429000  3.416550e+08          0  0.000000e+00       ...
12644           0  4.936700e+07          0  4.745700e+07       ...
12645           0  5.491400e+07          0  5.327600e+07       ...
12646           0  5.344200e+07          0  5.195800e+07       ...
12647 -5274000000  6.058000e+10          0  8.637000e+09       ...
12648 -5203000000  5.263500e+10          0  9.498000e+09       ...
12649 -5187000000  5.262200e+10          0  9.176000e+09       ...
12650           0  5.069680e+08          0  1.053890e+08       ...
12651           0  5.127520e+08          0  1.133530e+08       ...
12652 -4565000000  1.593800e+10          0  4.134000e+09       ...
12653 -4740000000  1.618500e+10          0  4.193000e+09       ...
12654 -4967000000  1.651800e+10          0  4.281000e+09       ...
12655  -381000000  8.952000e+09          0  3.712000e+09       ...
12656  -408000000  8.541000e+09          0  3.848000e+09       ...
12657  -335000000  8.349000e+09          0  3.667000e+09       ...

         sharesbas     shareswa  shareswadil     sps     tangibles  \
None
0       33309244.0   32272000.0   33659000.0   0.289  1.618400e+07
1       32276614.0   32521000.0   33931000.0   0.250  1.329700e+07
2       32673230.0   32620000.0   34169000.0   0.232  1.139300e+07
3       21069996.0   17641728.0   17641728.0   0.005  6.732744e+07
4       17626873.0   16587353.0   16587353.0   0.000  7.293434e+07
5       17623873.0   13504485.0   13504485.0   0.000  5.220355e+07
6       32025299.0   31999968.0   31999968.0   0.904  2.307330e+08
7       31966770.0   31959206.0   31959206.0   0.064  1.801640e+08
8       31959683.0   26869829.0   26869829.0   0.819  1.986830e+08
9      108502600.0  106049000.0  106049000.0   0.581  2.628370e+08
10     107718879.0  105146000.0  105146000.0   0.549  2.563280e+08
11      25530794.0   24974000.0   25261000.0   9.962  4.828970e+08
12      25519164.0   24955000.0   25188000.0   8.775  4.556610e+08
13     478771915.0  480552000.0  484492000.0   3.255  6.212000e+09
14     480450882.0  482000000.0  485800000.0   3.071  5.802000e+09
15     481823803.0  483800000.0  487500000.0   2.925  5.864000e+09
16      11973039.0   11973000.0   11973000.0   0.000  3.885500e+07
17      11973039.0   11753000.0   11753000.0   0.000  4.522600e+07
18     124147097.0  122741000.0  122741000.0   0.605  5.181130e+08
19     122250116.0  120587000.0  120587000.0   0.525  4.580940e+08
20     119773132.0   63881000.0   63881000.0   0.879  4.477810e+08
21     101121923.0   96157363.0   96157363.0   0.000  6.020461e+06
22     101121923.0   96157363.0   96157363.0   0.000  6.020461e+06
23      94796209.0   94514905.0   94514905.0   0.000  4.177315e+06
24      94511209.0   92527470.0   92527470.0   0.000  6.404197e+06
25      19605757.0   19549069.0   19549069.0   4.036  1.882880e+08
26      19604095.0   19539101.0   19539101.0   4.176  1.885710e+08
27     925645927.0  860654000.0  887898000.0   0.289  1.093916e+09
28     861881814.0  860988000.0  887228000.0   0.271  9.438460e+08
29     860181542.0  858666000.0  858666000.0   0.253  8.994430e+08
...            ...          ...          ...     ...           ...
12628    2976691.0    2976691.0    2976691.0   0.000  9.340000e+02
12629    2976691.0    2976691.0    2976691.0   0.000  2.094400e+04
12630   71670134.0   72990000.0   73328000.0  28.841  7.499818e+09
12631   72893719.0   73888000.0   74190000.0  30.790  7.416891e+09
12632   74081258.0   74054000.0   74244000.0  31.418  7.271669e+09
12633   51976455.0   52191307.0   52525586.0   2.152  3.044620e+08
12634   52094537.0   52238796.0   52627541.0   2.162  3.102310e+08
12635   52264765.0   52383842.0   52717787.0   2.092  3.164200e+08
12636   19882613.0   19795041.0   18470613.0   2.931  4.570490e+08
12637   19798663.0   19707036.0   19707036.0   2.861  4.712820e+08
12638   19697996.0   19590164.0   20079702.0   4.483  4.621300e+08
12639   67202919.0   67202919.0          0.0  14.779  1.864922e+09
12640   68594784.0   68819000.0   70139000.0  13.849  1.764587e+09
12641   69175813.0   69645000.0   70837000.0  13.323  1.767745e+09
12642   20199314.0   20199314.0          0.0   2.296  3.370050e+08
12643   20249483.0   20249483.0          0.0   2.442  3.391110e+08
12644    1584668.0    1615900.0    1615900.0   2.490  4.936700e+07
12645    1632995.0    1613413.0    1613413.0   2.438  5.491400e+07
12646    1613268.0    1612382.0    1612382.0   2.429  5.344200e+07
12647  449055548.0  449055548.0          0.0  24.358  5.435200e+10
12648  460581463.0  460581463.0          0.0  25.097  4.639700e+10
12649  460509216.0  460509216.0          0.0  25.283  4.637400e+10
12650   24602355.0   24205159.0   24205159.0   3.201  2.954550e+08
12651   24596675.0   24166976.0   24166976.0   3.590  3.023670e+08
12652  185498424.0  185498424.0          0.0  18.027  1.593800e+10
12653  186494049.0  186494049.0          0.0  18.178  1.618500e+10
12654  186473040.0  186473040.0          0.0  19.193  1.651800e+10
12655  317515869.0  318000000.0  322000000.0   4.038  5.253000e+09
12656  318533054.0  318000000.0  322000000.0   4.069  5.077000e+09
12657  318769547.0  320000000.0  324000000.0   3.759  4.901000e+09

          taxassets       taxexp  taxliabilities    tbvps  workingcapital
None
0      7.250000e+05     257000.0          688000    0.501    7.971000e+06
1      0.000000e+00     228000.0           51000    0.409    8.632000e+06
2      0.000000e+00     260000.0          129000    0.349    6.978000e+06
3      3.444620e+06          0.0               0    3.816    5.722970e+07
4      3.095195e+06          0.0               0    4.397    6.354453e+07
5      6.018246e+06          0.0               0    3.866    3.774842e+07
6      8.400000e+04     345000.0               0    7.210    1.743830e+08
7      2.410000e+05      49000.0               0    5.637    1.298370e+08
8      1.220000e+05    1842000.0               0    7.394    1.485180e+08
9      0.000000e+00     225000.0               0    2.478    1.187110e+08
10     0.000000e+00     201000.0               0    2.438    1.175760e+08
11     4.438000e+06    4990000.0         2782000   19.336    2.011870e+08
12     4.417000e+06    2807000.0         2580000   18.259    1.869060e+08
13     6.100000e+07   73000000.0       774000000   12.927    3.176000e+09
14     7.300000e+07   71000000.0       771000000   12.037    3.073000e+09
15     8.000000e+07   55000000.0       548000000   12.121    3.272000e+09
16     0.000000e+00          0.0               0    3.245    2.488300e+07
17     0.000000e+00          0.0               0    3.848    3.027900e+07
18     0.000000e+00     547000.0               0    4.221    2.357790e+08
19     0.000000e+00     327000.0               0    3.799    2.076990e+08
20     0.000000e+00     334000.0               0    7.010    2.043320e+08
21     0.000000e+00          0.0               0    0.063    1.484439e+06
22     0.000000e+00          0.0               0    0.063    1.484439e+06
23     0.000000e+00          0.0               0    0.044    7.658530e+05
24     0.000000e+00          0.0               0    0.069    3.780222e+06
25     0.000000e+00   -1530000.0         2681000    9.632   -9.457000e+06
26     0.000000e+00      66000.0         4192000    9.651   -9.135000e+06
27     0.000000e+00    4812000.0        20982000    1.271    2.674430e+08
28     0.000000e+00       5000.0        20202000    1.096    2.677230e+08
29     0.000000e+00    2330000.0        22912000    1.047    2.714470e+08
...             ...          ...             ...      ...             ...
12628  0.000000e+00          0.0               0    0.000    0.000000e+00
12629  0.000000e+00          0.0               0    0.007    0.000000e+00
12630  0.000000e+00   16415000.0       318353000  102.751    2.196504e+09
12631  0.000000e+00   31077000.0       320160000  100.380    2.303051e+09
12632  0.000000e+00   39635000.0       314091000   98.194    2.279599e+09
12633  6.104000e+06    3969000.0        10826000    5.834    9.279000e+07
12634  2.292000e+06    5527000.0         8841000    5.939    9.098000e+07
12635  4.971000e+06    2891000.0         8415000    6.040    8.299200e+07
12636  2.290200e+07   -3638000.0               0   23.089    1.168570e+08
12637  1.925600e+07   -5294000.0               0   23.914    1.324660e+08
12638  1.378900e+07    2296000.0          464000   23.590    1.588830e+08
12639  2.914800e+07   20314000.0       267500000   27.751    0.000000e+00
12640  2.972400e+07    9695000.0       248102000   25.641    0.000000e+00
12641  4.578100e+07   11479000.0       257620000   25.382    0.000000e+00
12642  3.077000e+06     138000.0               0   16.684    0.000000e+00
12643  2.873000e+06     848000.0               0   16.747    0.000000e+00
12644  0.000000e+00      66000.0               0   30.551    4.068600e+07
12645  0.000000e+00      17000.0               0   34.036    4.778500e+07
12646  0.000000e+00      42000.0               0   33.145    4.813100e+07
12647  1.145000e+09   68000000.0               0  121.036   -9.459000e+09
12648  1.293000e+09  115000000.0               0  100.736   -6.850000e+09
12649  1.399000e+09  203000000.0               0  100.702   -7.493000e+09
12650  1.304200e+07   -3324000.0               0   12.206    5.671000e+07
12651  9.572000e+06     -84000.0               0   12.512    6.953000e+07
12652  5.600000e+08  157000000.0       727000000   85.920    1.215000e+09
12653  5.990000e+08  251000000.0       714000000   86.786    1.189000e+09
12654  6.120000e+08  180000000.0       579000000   88.581    1.268000e+09
12655  0.000000e+00 -256000000.0               0   16.519    2.617000e+09
12656  0.000000e+00   49000000.0               0   15.965    2.677000e+09
12657  0.000000e+00    6000000.0               0   15.316    2.653000e+09

[12658 rows x 111 columns]>

In [14]:
factors_june_dec_18.shape

(12658, 111)

In [18]:
df = get_factor_data('2007-12-31','2019-01-01')

In [19]:
corr_matrix = df.corr().abs()

In [21]:
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

In [22]:
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]

In [23]:
factors_june_dec_18_reduced = factors_june_dec_18.drop(factors_june_dec_18[to_drop], axis=1)

In [24]:
factors_june_dec_18_reduced.

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sbcomp,sgna,sharefactor,sharesbas,shareswadil,taxassets,taxexp,taxliabilities,tbvps,workingcapital
None,,,,,,,,,,,,,,,,,,,,,
0,ZYXI,ARQ,2018-12-31,2019-02-26,2018-12-31,2019-02-26,0,16184000.0,0,14326000.0,...,370000.0,4626000.0,1.0,33309244.0,33659000.0,725000.0,257000.0,688000,0.501,7971000.0
1,ZYXI,ARQ,2018-09-30,2018-11-06,2018-09-30,2019-02-26,0,13297000.0,0,12154000.0,...,0.0,3670000.0,1.0,32276614.0,33931000.0,0.0,228000.0,51000,0.409,8632000.0
2,ZYXI,ARQ,2018-06-30,2018-08-02,2018-06-30,2019-02-26,0,11393000.0,0,10245000.0,...,0.0,3528000.0,1.0,32673230.0,34169000.0,0.0,260000.0,129000,0.349,6978000.0
3,ZYNE,ARQ,2018-12-31,2019-03-11,2018-12-31,2019-03-11,0,67327443.0,0,66955480.0,...,1598630.0,3256044.0,1.0,21069996.0,17641728.0,3444620.0,0.0,0,3.816,57229698.0
4,ZYNE,ARQ,2018-09-30,2018-11-08,2018-09-30,2019-03-11,0,72934341.0,0,72685600.0,...,1584230.0,3125780.0,1.0,17626873.0,16587353.0,3095195.0,0.0,0,4.397,63544533.0

In [31]:
factors_june_dec_18_reduced = factors_june_dec_18_reduced.insert[]

SyntaxError: invalid syntax (<ipython-input-31-45515ec7ccef>, line 1)

In [ ]:
pivot(index='date', columns='ticker', values='close')

In [36]:
monthly_retuns_june_dec_18.pivot(columns=['ticker','date','close'])

ValueError: all arrays must be same length

In [27]:
df.head()

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
None,,,,,,,,,,,,,,,,,,,,,
0,ZZ,ARQ,2012-03-31,2012-03-27,2012-02-26,2018-05-16,5986000.0,936259000.0,0,359986000.0,...,100971540.0,100918000.0,109254000.0,12.257,572536000.0,24393000.0,2527000.0,554000.0,5.673,192297000.0
1,ZZ,ARQ,2011-12-31,2012-01-18,2011-11-27,2018-05-16,-509000.0,919194000.0,0,342095000.0,...,100916228.0,99261000.0,99261000.0,12.393,557052000.0,23121000.0,-3675000.0,549000.0,5.612,185598000.0
2,ZZ,ARQ,2011-09-30,2011-09-27,2011-08-28,2018-05-16,10703000.0,947852000.0,0,363128000.0,...,100820532.0,100334000.0,308566000.0,11.741,583322000.0,24183000.0,9556000.0,823000.0,5.814,194752000.0
3,ZZ,ARQ,2011-06-30,2011-06-28,2011-05-29,2018-05-16,11824000.0,932652000.0,0,343099000.0,...,98184056.0,98040000.0,107933000.0,12.139,567901000.0,25295000.0,-568000.0,842000.0,5.793,176708000.0
4,ZZ,ARQ,2011-03-31,2011-03-29,2011-02-27,2018-05-16,10733000.0,949099000.0,0,357615000.0,...,98120413.0,97816000.0,107828000.0,12.118,584330000.0,25374000.0,-1209000.0,843000.0,5.974,177924000.0

In [ ]:



features = factors_june_dec_18_reduced
target = monthly_retuns_june_dec_18

In [ ]:
features.rename(columns={"calendardate": "date"})

In [ ]:
from sklearn.preprocessing import scale

# Remove unimportant features (weekdays)
train_features = train_features.iloc[:, :-4]
test_features = test_features.iloc[:, :-4]

# Standardize the train and test features
scaled_train_features = scale(train_features)
scaled_test_features = scale(test_features)

# Plot histograms of the 14-day SMA RSI before and after scaling
f, ax = plt.subplots(nrows=2, ncols=1)
train_features.iloc[:, 2].hist(ax=ax[0])
ax[1].hist(scaled_train_features[:, 2])
plt.show()

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

# Create the model
model_1 = Sequential()
model_1.add(Dense(100, input_dim=scaled_train_features.shape[1], activation='relu'))
model_1.add(Dense(20, activation='relu'))
model_1.add(Dense(1, activation='linear'))

# Fit the model
model_1.compile(optimizer='adam', loss='mse')
history = model_1.fit(scaled_train_features, train_targets, epochs=25)